div.dotChart {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Inconsolata";
}

svg.dotChart {
  display: block;
  margin: auto;
  padding-top: 10px;
}

div.title {
  font-size: 1.2em;
}
