li.entry {
  padding: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;

  border-radius: 10px;

  font-size: 1.33em;

  cursor: pointer;
}

li.entry.completed {
  background: #d6ffd6;
}

li.entry.notCompleted {
  background: lightyellow;
}

li.entry div.entryHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.entry div.ratingHeader {
  text-align: center;

  width: 20%;
}

li.entry div.bookHeader {
  width: 79%;
}

li.entry div.bookHeader div.title {
  font-style: italic;
  font-size: 1.5em;
}

li.entry div.entryExtra {
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

li.entry div.entryExtra ul.dashed {
  list-style-type: "- ";
  text-align: left;
  padding: 0px;
}

li.entry div.publisher {
  text-align: left;
  width: 19%;
  padding-left: 3%;
  padding-right: 3%;
}

li.entry div.publisher div.title {
  text-align: center;
}

li.entry div.genre {
  text-align: left;
  width: 19%;
  padding-left: 3%;
  padding-right: 3%;
}

li.entry div.genre div.format {
  padding-top: 0.5em;
}

li.entry div.genre div.title {
  text-align: center;
}

li.entry div.language {
  width: 19%;
  padding-left: 3%;
  padding-right: 3%;
}

li.entry div.language div.title {
  text-align: center;
}

li.entry div.purchase {
  text-align: left;
  width: 19%;
  padding-left: 3%;
  padding-right: 3%;
}

li.entry div.purchase div.title {
  text-align: center;
}
