div.barChart {
  width: 100%;
  text-align: center;
  font-family: "Cutive Mono", "Abhaya Libre";
}

svg.barChart {
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

div.tooltip {
  background: white;
  width: 30px;
  height: 20px;
  border-style: solid;
  border-radius: 5px;
  font-family: "Cutive Mono", "Abhaya Libre";
}

text {
  font-family: "Cutive Mono", "Abhaya Libre";
}
