div.map {
  width: 100%;

  text-align: center;
  font-family: "Inconsolata";
}

svg.map {
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

div.pubCityInfo {
  background: white;
  width: 250px;
  max-height: 400px;
  text-align: left;
  padding: 5px;
  margin-left: 10px;

  border-style: solid;
  border-radius: 5px;
  overflow-y: auto;
}

div.pubSummary {
  margin-top: 5px;
}

div.publisher {
  margin-top: 5px;
  margin-bottom: 5px;
}
