div.readingList {
  width: 100%;
  font-family: "Cutive Mono", "Abhaya Libre";
}

ul.readingList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div.sortOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;

  font-size: 1.33em;
  line-height: 2em;

  font-family: "Cutive Mono", "Abhaya Libre";
}

button.sort {
  padding: 10px 16px;

  border-radius: 8px;
  border-style: none;

  font-size: 0.8em;

  cursor: pointer;
  
  font-family: "Cutive Mono", "Abhaya Libre";
}

div.key {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  gap: 5px;
  justify-content: center;
}

div.keyEntry {
  display: flex;
  gap: 10px;
  padding: 2px;
}

div.keyEntry div.color {
  border-radius: 4px;
  padding: 8px;
  border-style: solid;
}

div.sortedEntryHeader {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: "Abhaya Libre", sans;
}

div.sortedEntryHeader.level0 {
  display: none;
}

div.sortedEntryHeader.level1 {
  margin-top: 50px;
  font-size: 2em;
}

div.sortedEntryHeader.level2 {
  font-size: 1.5em;
}

div.sortedEntryHeader.level3 {
  font-size: 1.25em;
}
