table.readingList {
  border-collapse: collapse;
}

table.readingList tr, th, td {
  border: 1px solid black;
  padding: 0.5rem;
}

table.readingList tbody tr:nth-child(odd) {
  background: #eee;
}

table.readingList td.center {
  text-align: center;
}

table.readingList td.title {
  font-style: italic;
}
